<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <title>Commander - Agilean</title>
  </head>
	
	
  <body>

    <header>
      <div id="header">
          <h1>OrexWeb</h1>
      </div>
  </header>

  <nav id="menu">
    <ul id="onglets">
      <li><a href="{{url_for('accueil')}}"> Accueil </a></li>
      <li>
        <a href=""> AgiLean </a>
        <ul id="sous-onglets">
          <li><a href="{{url_for('order_book_Agilean')}}">Gestion des commandes</a></li>
          <li><a href="{{url_for('stocks_Agilean')}}">Gestion des stocks</a></li>  
        </ul>
      </li>
      <li>
        <a href=""> AgiLog </a>
        <ul id="sous-onglets">
          <li><a href="{{url_for('order_book_Agilog')}}">Gestion des commandes</a></li>
        </ul>
      </li>
      <li>
        <a href=""> Client </a>
        <ul id="sous-onglets">
          <li><a href="{{url_for('order_book_Client')}}">Mes commandes</a></li>
          <li><a href="{{url_for('order')}}">Passer commande</a></li>
        </ul>
      </il>
      <li id="timer" style="float: right;">
        {{time}}
      </li>
      <li style="float: right;">
        <a>Timer</a>
        <ul id="sous-onglets">
          <form method="get" action="accueil">
            <li><input type="submit" name="submit" value="Start"></li>
            <li><input type="submit" name="submit" value="Pause"></li>
            <li><input type="submit" name="submit" value="Stop"></li>
        </form>
        </ul>
      </li>
    </ul>
  </nav>
  
  
  <h2>Commander chez AgiLean</h2>
  <h3>Bienvenue sur le site de commande de l'entreprise AgiLean</h3>



  <br>
  <h2>Formulaire de commande</h2>




  <FORM method=get action="order_book_Client">
    <h3>A remplir:</h3>




    <TABLE BORDER=0>
	
      <TR>
        <TD>Type de chassis</TD>
        <TD>
            Court : <INPUT type=radio name="chassis" value="C", checked="checked">
            <br>
            Long : <INPUT type=radio name="chassis" value="L">
        </TD>
      </TR>
	 
 
      <TR>
        <TD>Type de carrosserie</TD>
        <TD>
          Ouverte : <INPUT type=radio name="carrosserie" value="O", checked="checked">
          <br>
          Fermée : <INPUT type=radio name="carrosserie" value="F">
        </TD>
      </TR>	 
	 
	 
      <TR>
        <TD>Options</TD>
        <TD>
          Antenne : <INPUT type=checkbox name="option0" value="1" />
          <br>
          Crochet d'attelage : <INPUT type=checkbox name="option1" value="1" />
          <br>
          Attache accessoire : <INPUT type=checkbox name="option2" value="1" />
        </TD>
      </TR>

	
      <TD COLSPAN=2>
        <INPUT type="submit" name="submit" value="Envoyer">
      </TD>


    
    </TABLE>
  </FORM>
  </body>

</html>