<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <title>Gestion des commandes - Agilean</title>
  </head>

  <body> 

    <header>
      <div id="header">
        <h1>OrexWeb</h1>
      </div>
   </header>

   <nav id="menu">
    <ul id="onglets">
      <li><a href="{{url_for('accueil')}}"> Accueil </a></li>
      <li>
        <a href=""> AgiLean </a>
        <ul id="sous-onglets">
          <li><a href="{{url_for('order_book_Agilean')}}">Gestion des commandes</a></li>
          <li><a href="{{url_for('stocks_Agilean')}}">Gestion des stocks</a></li>  
        </ul>
      </li>
      <li>
        <a href=""> AgiLog </a>
        <ul id="sous-onglets">
          <li><a href="order_book_Agilog.html">Gestion des commandes</a></li>
        </ul>
      </li>
      <li>
        <a href=""> Client </a>
        <ul id="sous-onglets">
          <li><a href="{{url_for('order_book_Client')}}">Mes commandes</a></li>
          <li><a href="{{url_for('order')}}">Passer commande</a></li>
        </ul>
      </il>
      <li id="timer" style="float: right;">
        {{time}}
      </li>
      <li style="float: right;">
        <a>Timer</a>
        <ul id="sous-onglets">
          <form method="get" action="accueil">
            <li><input type="submit" name="submit" value="Start"></li>
            <li><input type="submit" name="submit" value="Pause"></li>
            <li><input type="submit" name="submit" value="Stop"></li>
        </form>
        </ul>
      </li>
    </ul>
  </nav>

    <div class="tab_cmd_client">
      <table>
        <caption>Carnet de commandes</caption>

        <thead> <!-- En-tête du tableau -->
          <tr>
            <th>N° commande</th>
            <th>Modèle</th>
            <th>Options</th>
            <th>Date réception commande</th>
            <th>Date d'expédition</th>
            <th>Etat</th>
            <th>Action</th>  
          </tr>
         </thead>
        
          <tbody> <!-- Corps du tableau de commandes -->
            {% for cmd in cmds_client %}
             <tr>
                 <td>{{ cmd['n_cmd'] }}</td>
                 <td>{{ cmd['ref_voiture'] }}</td>
                 <td>{% if cmd['antenne'] == 1 %}Antenne<br>{% endif %}
                      {% if cmd['crochet'] == 1 %}Crochet d'attelage<br>{% endif %}
                      {% if cmd['attache'] == 1 %}Attache accessoire<br>{% endif %}
                      {% if cmd['antenne'] == 0 and cmd['crochet'] == 0 and cmd['attache'] == 0 %}-{% endif %}
                 </td>
                 <td>{{ cmd['date_reception'] }}</td>
                 <td>{% if cmd['date_expedition'] == None %}-{% else %} {{ cmd['date_expedition'] }} {% endif %}</td>
                 <td>{{ cmd['etat'] }}</td>
                 <td> <!-- Liste d'options pour mettre à jour état de la commande -->
                  <form method="GET" action="order_book_Agilean">
                    <input name="n_cmd" type="hidden" value="{{ cmd['n_cmd'] }}">                 
                    <select name="maj_cmd_client" id="maj_cmd">
                      <option value="">Choisissez une option</option>
                      <option value="En cours de traitement...">En cours de traitement...</option>
                      <option value="En cours d'assemblage">En cours d'assemblage</option>
                      <option value="Livrée">Livrée</option>
                      <option value="Retour client">Retour client</option>
                    </select> 
                    <input type="submit" value="MAJ">
                  </form>
                  </td>
             </tr>
            {% endfor %}
         </tbody>
       </table>
    </div>
        
   </body>


</html>